.main {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 3px 3px 0px rgb(127, 129, 255);
}

.api {
	width: fit-content;
	margin: auto;
	text-align: center;
}

.api-itm {
	margin-top: 20px;
}

.api-itm>h1 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}